# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IDE stuff
.idea/

spheroid_spheroid_axis/
tmp02ls0_30
tmp81rio0jl
tmph2uphplg
tmp1gvfrv1x
tmp24q20ehd
tmp29ksaxb9
tmp3mmgrhqy
tmp4azgokvf
tmp5v8s9axz
tmp7dh8cp5i
tmp8hk6ezdf
tmp91bxsfxf
tmp_10xe4l4
tmp_izz25re
tmpalhuxce1
tmpd5w0j1ql
tmpdehjngx4
tmpe9fon05g
tmpf7i9h7ht
tmpfjk3wmk1
tmpftl87s2d
tmpg50nu79i
tmpj3i3i2hv
tmplvzgunvy
tmpovpj9ba9
tmppcvpml2y
tmppoalgyvo
tmpqkv_23yy
tmpso25jzim
tmpv0lm88qi
tmpzd9n2yq0
